@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
    transition: background-color 0.3s, color 0.3s;
}

/* globals.css */
/* html, body, #__next {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100%; 
  }
  
  * {
    box-sizing: border-box;
  } */


  /* globals.css */
html, body, #__next {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  
  
